.menu {
    display: flex;
    padding-right: 1.5em;
}

.icon {
    margin-right: 1.5em;
    width: 23px;
    height: 23px;
}

.icon>:hover {
    cursor: pointer;
}

.nav__avatar {
    margin-right: 1em;
    width: 23px;
    height: 23px;
}

.profile__avatar>:hover {
    cursor: pointer;
}

@media only screen and (max-width:640px) {
    .profile__avatar{
        width: 19px;
        height: 19px;
    }
}


@media only screen and (max-width:640px) {
    .icon{
        width: 19px;
        height: 19px;
    }
}


@media only screen and (max-width:640px) {
    .menu{
        margin-right: 0em;
    }
}


   